body {
    margin: 0px;
    /* width: 1560px;
    height: 720px; */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.img1{
    margin-top: 72px;
    border-radius: 50%;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
}
.right {
    display: flex;
    flex-direction: column;
    /* margin-top: 106px;
    margin-left: 164px; */
}
.logo {  
    width: 272px;
    height: 58px;
}
.heading_text{
    margin-top: 19px;
    text-align: left;
    /* font: normal normal 300 40px/47px Roboto; */
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    /* width: 500px;
    height: 100px; */
}
.color-red {
    color: #C8242F;
}
.login_title {
    margin-top: 11px;
    text-align: left;
    /* font: normal normal normal 25px/33px Roboto; */
    letter-spacing: 0px;
    color: #3E3E3E; 
}
.right input{
    padding-left:14px;
    margin-bottom: 27px;
    width: 70%;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.container{
    margin-top: 3px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    
}
.login-button{
    margin-right:26% ;
    /* width: 138px; */
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: none;
    color: white;
}

.login-button span {
    text-align: left;
    font: Roboto;
    color: #FFFFFF;

}

@media (max-width:1050px) {
    .right{
        width: 60%;
        margin: auto;
        margin-top: 25px;
    }
    .img1{
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        height: 60%;
    }
    .login-button{
        width: 21%;
    }

}

@media (min-width:1051px){
    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .img1{
        margin-left: 10.5%;
        margin-right: 10.5%;
        width:37%;
        height:37%;
    }
    .heading_text{
        width: 67%;
    }
    .login-button{
        width: 21%;
    }
    .right{
        margin-top: 106px;
    }
}

@media (max-width:600px){
    .container{
        flex-direction: column;
    }
    .login-button{
        width: 40%;
    }
    .heading_text{
        font: normal normal 300 30px/47px Roboto;
    }
    
}

@media (min-width:601px){
    .container{
        align-items: center;
    }
    .heading_text{
        font: normal normal 300 42px/47px Roboto;
    }
}
