.container{
    background-color:#FAFAFA;
    height:720px;
    width: 1560px;
}
.logo{
    position: fixed;
    top: 0px;
    left: 0px;
}

.login{
    position: fixed;
    top: 0px;
    right:656px;
}

.img1{
    position: fixed;
    top: 72px;
    left: 166px;
    border-radius: 50%;
    border: 20px solid #FAFAFA;
    height: 576px;
    width: 576px;
    background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
}

.img2{
    position: fixed;
    top: 106px;
    height: 58px;
    width: 272px;
}

.text1{
    position: fixed;
    top: 183.17px;
    width: 500px;
    height: 100px;
    font: normal normal 300 40px/47px Roboto;
}

.text2{
    position: fixed;
    top: 315.05px;
    font: normal normal normal 25px/33px Roboto;
    height: 33px;
    width: 260px;
}

.uname{
    position: fixed;
    top:371.5px;
    height: 49px;
    width: 429px;
}

.uname ::placeholder{
    position: fixed;
    top: 14.63px;
    bottom: 14.37px;
    height: 20px;
    width: 68px;

}

.pass{
    position: fixed;
    top: 447.5px;
    height: 49px;
    width: 429px;
}

.pass ::placeholder{
    position: fixed;
    top: 13.63px;
    bottom: 15.37px;
    width: 66px;
    height: 20px;
    /* left: 348.5px; */
    /* right: 14.5px; */
}

.button{
    position: fixed;
    top: 536.65px;
    background-color: #C8242F;
    height: 45px;
    width: 138px;
    border-radius: 23px;
}

.forgot{
    position: fixed;
    top: 550px;
    right:245.56px;
    height: 20px;
    width: 121px;
}

.register{
    position: fixed;
    top: 595.13px;
}