.container{
    position: relative;
    width: 1560px;
    height: 1359px ;
}

.hedder{
    width: 1560px;
    height: 80px;
    background-color: #ffffff;
    
}

.menu{
    margin-top: 34px;
    margin-left: 29px;
    height: 12px;
    width: 18px;
    opacity: 1;
}

.logo{
    margin-top: 25px;
    padding-left: 25px;
    /* margin-left: 72px; */
    width: 142px;
    height: 30px;
    opacity: 1;

}

.search_icon{
    /* position: fixed; */
    margin-top:32px;
    padding-left: 77px;
    /* left: 291px; */
    width: 16px;
    height: 16px;
    opacity: 1;
}

.search_text{

    padding: 29px 0 30px 0px;
    font: normal normal normal 16px/21px Roboto;
    width: 49px;
    height: 21px;
    left:326px;
    top:20px;
    position: absolute;
}

.notification{
    /* position: fixed; */
    margin-top: 28px;
    margin-left: 924px;
    width: 22px;
    height: 21px;
}

.profile_pic{
    /* position: fixed; */
    margin-top: 28px;
    margin-left: 52px;
    /* padding: 18px 12px 18px 52px; */
    width: 44px;
    height: 44px;
}

.name_text{
    /* position: fixed; */
    margin-top: 28px;
    margin-left: 12px;
    width: 68px;
    height: 24px;
    font: normal normal normal 16px/21px Roboto;
}

.option{
    /* position: fixed; */
    margin-top: 37px;
    margin-left: 15px;
    width: 20px;
    height: 16px;
    background-color: #000000 0% 0% no-repeat padding-box;
}

.left_bar{
    position: fixed;
    top: 80px;
    left: 0px;
    width: 242px;
    height: 1279px;
    background-color: #ffffff;
}

.dashbord{
    flex: left;
    width: 183px;
    height: 43px;
    margin-top: 25px;
    margin-left: 30px;
    background: #FFF3F4 0% 0% no-repeat padding-box;
    border-radius: 5px;

}

.dash_img{
    /* position: fixed; */
    padding-top: 14px;
    padding-bottom: 14px ;
    padding-left: 17.5px;
    height: 15px;
    width: 15px;
}

.dash_text{
    /* margin-top: 0px; */
    /* margin-bottom: 12px; */
    padding-bottom: 12px;
    margin-left: 13px;
    width: 78px;
    height: 21px;
}

.analysis_img{
    position: fixed;
    top: 171px;
    left: 46px;
    width: 19px;
    height: 18px;
}

.analysis{
    position: fixed;
    top: 168px;
    left: 75px;
    width: 60px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.inbox_img{
    position: fixed;
    top : 225px;
    left: 48px;
    width: 15px;
    height: 15px;
}

.inbox{
    position: fixed;
    top: 221px;
    left: 75px;
    width: 39px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;

}

.history_img{
    position: fixed;
    top: 278px;
    left: 47px;
    width: 16px;
    height: 16px;
}

.history{
    position: fixed;
    top: 274px;
    left: 75px;
    width: 51px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.user_img{
    position: fixed;
    top: 330px;
    left: 43px;
    width: 25px;
    height: 14px;
}

.user{
    position: fixed;
    top: 327px;
    left: 75px;
    width: 41px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1; 
}

.m_img{
    position: fixed;
    top: 383px;
    left: 48px;
    width: 13px;
    height: 18px;

}

.maintenance{
    position: fixed;
    top: 380px;
    left: 75px;
    width: 92px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.setting_img{
    position: fixed;
    top: 436px;
    left: 47px;
    width: 17px;
    height: 17px;
}

.setting{
    position: fixed;
    top: 433px;
    left: 75px;
    width: 50px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.right_bar{
    position: absolute;
    left: 242px;
    width: 1318px;
    height: 1279px;
    background-color: #FAFAFA;
}

.Dashboard{
    position: relative;
    top: 40.75px;
    left: 48px;
    width: 146px;
    height: 39px;
}

.p1{
    position: absolute;
    top: 102px;
    left: 50px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.img1{
    position: absolute;
    margin-top: 41.33px;
    margin-left: 38.03px;
    width: 33px;
    height: 33px;
}

.n1{
    position: absolute;
    margin-top: 31.04px;
    margin-left: 90.7px;
    width: 77px;
    height: 33px;
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.t1{
    position: absolute;
    margin-top: 62.13px;
    margin-left: 90.7px;
    width: 94px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.p2{
     position: absolute;
     top: 102px;
     left: 299px;
     width: 219px;
     height: 116px;
     background: #FFFFFF 0% 0% no-repeat padding-box;
     border-radius: 5px;
     opacity: 1;
}

.img2{
    position: absolute;
    margin-top: 41.33px;
    margin-left: 37.7px;
    width: 27px;
    height: 27px;
}

.n2{
    position: absolute;
    margin-top: 31.07px;
    margin-left: 83.7px;
    width: 57px;
    height: 33px;
}

.t2{
    position: absolute;
    margin-top:  62.13px; ;
    margin-left: 83.7px;
    width: 107px;
    height: 20px;
}

.p3{
    position: absolute;
    top: 102px;
    left: 548px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;


}

.img3{
    position: absolute;
    margin-top: 45px;
    margin-left: 39.7px;
    width: 26px;
    height: 26px;

}

.n3{
    position: absolute;
    margin-top: 31.04px;
    margin-left: 86.7px;
    width: 77px;
    height: 33px;
}

.t3{
    position: absolute;
    margin-top: 62.13px;
    margin-left: 86.7px;
    width: 97px;
    height: 20px
}

.p4{
    position: absolute;
    top: 102px;
    left: 797px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;

}

.img4{
    position: absolute;
    margin-top: 41.33px;
    margin-left: 43.53px;
    width: 33px;
    height: 33px;

}

.n4{
    position: absolute;
    margin-top: 31.04px;
    margin-left: 96.2px;
    width: 57px;
    height: 33px;
}

.t4{
    position: absolute;
    margin-top: 62.13px;
    margin-left: 96.2px;
    width: 83px;
    height: 20px;
}

.p5{
    position: absolute;
    top: 102px;
    left: 1046px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;

}

.img5{
    position: absolute;
    margin-top:  43px;
    margin-left: 41.93;
    width: 29px;
height: 30px;
}

.n5{
    position: absolute;
    margin-top: 31.04px;
    margin-left: 92.2px;
    width: 91px;
    height: 33px;
}

.t5{
    position: absolute;
    margin-top: 62.13px;
    margin-left: 92.2px;
    width: 66px;
    height: 20px;
}

.left_sales{
    position: absolute;
    top: 248px;
    left: 50px;
    width: 802px;
    height: 400px;
}

.sale{
    position: absolute;
    margin-top: 23.52px;
    margin-left: 29px;
    width: 43px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.month_text{
    position: absolute;
    margin-top: 24.1px;
    margin-left: 611px;
    width: 108px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
}

.year{
    position: absolute;
    margin-top: 24.1px;
    margin-left: 739.58px;
    width: 33px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
}

.line_chart{
    position: absolute;
    margin-top: 90.5px;
    margin-left: 28px;
    /* width: 726.5px; */
    /* height: 162.5px; */
    width: 802px;
    height: 400px;
}

.right_pie{
    position: absolute;
    top: 248px;
    left: 882px;
    width: 385px;
    height: 398px;
}

.sale_t1{
    position: absolute;
    margin-top: 21.52px;
    margin-left: 29px;
    width: 165px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.pie{
    position: absolute;
    margin-top: 78px;
    margin-left: 89px;
    height: 200px;
    width: 171px;
}

.r_dot{
    position: absolute;
    margin-top: 306px;
    margin-left: 49px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #C8242F ;
}

.o_dot{
    position: absolute;
    margin-top: 344px;
    margin-left: 49px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color:  #F16C20 ;
}

.g_dot{
    position: absolute;
    margin-top: 306px;
    margin-left: 268px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #a2b86c;
}

.y_dot{
    position: absolute;
    margin-top: 344px;
    margin-left: 268px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #EBC844 ;
}

.pt1{
    position: absolute;
    margin-top: 305.13px;
    margin-left: 76px;
    width: 166px;
    height: 20px;
}

.pt2{
    position: absolute;
    margin-top: 305.13px;
    margin-left: 295px;
    width: 51px;
    height: 20px;
}

.pt3{
    position: absolute;
    margin-top: 343.13px;
    margin-left: 76px;
    width: 45px;
    height: 20px;
}

.pt4{
    position: absolute;
    margin-top: 343.13px;
    margin-left: 295px;
    width: 33px;
    height: 20px;
}

.bottom_bar{
    position: absolute;
    top: 758px;
    left: 50px;
    width: 1217px;
    height: 558px;
}

.invo{
    position: absolute;
    margin-top: 22.52px;
    margin-left: 29px;
    width: 82px;
    height: 29px;
}

.view{
    position: absolute;
    margin-top: 26.1px;
    margin-left: 1145px;
    width: 43px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
}

#table{
    position: absolute;
    margin-top: 88.13px;
    margin-left: 40px;
}

.th{color: #ADADAD;}

th,td{
    padding: 13.15px;
    text-align: left;
}


#paid{
    color: #3cdd5f;
}
pending{
    color: #bababa;
}
failed{
    color: #ff4545;
}

table,th,td{
    border-bottom: solid 1px #e9e9e9;
}


@media (min-width:1051px){
    .hedder{
        width: 100%;
    }

    .left_bar{
        width: 16%;
    }

    .right_bar{
        width: 84%;
    }

}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* innerpage start */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

.Analysis{
    position: absolute;
    margin-top: 40.75px;
    margin-left: 50px;
    width: 113px;
    height: 39px;
}

.right_inner{
    position: absolute;
    top: 102px;
    left: 50px;
    width: 1218px;
    height: 1749px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.ht1{
    position: absolute;
    margin-top: 22.5px;
    margin-left: 29px;
    width: 121px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.name1{
    position: absolute;
    margin-top: 66.5px;
    margin-left: 30.5px;
    width: 1157px;
    height: 49px;
    border: 1px solid #ADADAD;
    opacity: 1;
    padding-left: 10px;
    
}

.dropdown{
    position: absolute;
    margin-top: 136.5px;
    margin-left: 30.5px;
    width: 1170px;
    height: 49px;
    border: 1px solid #ADADAD;
    opacity: 1;
    padding-left: 10px ;
}

.multiline{
    position: absolute;
    margin-top: 205.5px;
    margin-left: 30.5px;
    width: 1157px;
    height: 130px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding-left: 10px;
}

.ht2{
    position: absolute;
    margin-top: 379.52px;
    margin-left: 29px;
    width: 123px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.name2{
    position: absolute;
    margin-top: 424.5px;
    margin-left: 30.5px;
    width: 563px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding-left: 10px;
}

.uname1{
    position: absolute;
    margin-top: 424.5px;
    margin-left: 623.5px;
    width: 564px;
    height: 47px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding-left: 10px;
}

.username1{
    position: absolute;
    margin-top: 418.1px;
    margin-left: 638.38px;
    width: 54px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.password1{
    position: absolute;
    margin-top: 493.5px ;
    margin-left: 30.5px;
    padding-left:  10px;
    width: 563px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;

}

.dropdown2{
    position: absolute;
    margin-top: 493.5px ;
    margin-left: 624.5px;
    padding-left: 10px;
    width: 575px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

.ht3{
    position: absolute;
    margin-top: 586.52px;
    margin-left: 29px;
    width: 138px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.name3{
    position: absolute;
    margin-top: 633.5px;
    margin-left: 30.5px;
    width: 364px;
    height: 47px;
    border: 1px solid #C8242F;
    border-radius: 5px;
    opacity: 1;
}

.password3{
    position: absolute;
    margin-top: 631.5px;
    margin-left: 426.5px;
    width: 365px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding-left: 10px;
}

.password3 ::placeholder{
    color: black;
}

.uname2{
    position: absolute;
    margin-top:  632.5px;
    margin-left: 822.5px;
    width: 365px;
    height: 47px;
    border: 1px dashed #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

.ht4{
    position: absolute;
    margin-top: 727.52px;
    margin-left: 29px;
    width: 126px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.text4{
    position: absolute;
    margin-top: 776.5px;
    margin-left: 30.5px;
    width: 266px;
    height: 47px;
    border: 1px solid #FF3C3C;
    border-radius: 5px;
    opacity: 1;
}

.name4{
    position: absolute;
    margin-top: 774.5px;
    margin-left: 327.5px;
    width: 266px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;;
}

.uname4{
    position: absolute;
    margin-top: 774.5px;
    margin-left: 624.5px;
    width: 266px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

.select1{
    position: absolute;
    margin-top: 774.5px;
    margin-left: 921.5px;
    width: 275px;
    height: 49px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

.text5{
    position: absolute;
    margin-top: 833.1px;
    margin-left: 47px;
    width: 84px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #FF3B3B;
    opacity: 1;
}

.text6{
    position: absolute;
    margin-top: 832.1px;
    margin-left: 342px;
    width: 158px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.text8{
    position: absolute;
    margin-top: 942.65px;
    margin-left: 29px;
    width: 90px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.text7{
    position: absolute;
    margin-top: 892.52px;
    margin-left: 29px;
    width: 225px;
    height: 29px;
    text-align: left;
    font: normal normal medium 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.uplod{
    position: absolute;
    margin-top: 982.5px;
    margin-left: 29.5px;
    width: 124px;
    height: 36px;
    border: 1px solid #C8242F;
    border-radius: 18px;
    opacity: 1;
    padding-top: 0px;
    background-color: white;
}

.u_img{
    position: absolute;
    margin-top: 982.5px;
    margin-left: 29.5px;
    padding-top: 5px;
    
}

.u_text{
    position: absolute;
    margin-top: 982.5px;
    margin-left: 29.5px;
}

.text9{
    position: absolute;
    margin-top: 992.1px;
    margin-left: 173px;
    width: 91px;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
    
}

.text10{
    position: absolute;
    margin-top: 1054.65px;
    margin-left: 29px;
    width: 104px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.option1{
    position: absolute;
    margin-top: 1093.42px;
    margin-left: 30.42px;
    width: 15px;
    height: 15px;
    opacity: 1;
    border-radius: 50%;
    border-color: #000000;
    background-color: white;
}

.o1{
    position: absolute;
    margin-top: 1090.13px;
    margin-left: 55px;
    width: 56px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.option2{
    position: absolute;
    margin-top: 1097.75px;
    margin-left: 153.75px;
    width: 10px;
    height: 10px;
    background: #97121b 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.o2{
    position: absolute;
    margin-top: 1090.13px;
    margin-left: 174px;
    width: 56px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.check{
    position: absolute;
    margin-top: 1142.65px;
    margin-left: 29px;
    width: 79px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.c1{
    position: absolute;
    margin-top: 1181.9px;;
    margin-left: 29.9px;
    width: 16px;
    height: 16px;
    background-color: whitesmoke;
    border-color: #ADADAD;
    opacity: 1;
}

.co1{
    position: absolute;
    margin-top: 1179.13px;
    margin-left: 55px;
    width: 56px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.c2{
    position: absolute;
    margin-top: 1181.9px;
    margin-left: 147.9px;
    width: 16px;
    height: 16px;
    background: #C8242F 0% 0% no-repeat padding-box;
    opacity: 1;
}

.co2{
    position: absolute;
    margin-top: 1179.13px;
    margin-left: 173px;
    width: 56px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;    
}

.snack{
    position: absolute;
    margin-top: 1233.65px;
    margin-left: 29PX;
    width: 76px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.error_snack{
    position: absolute;
    margin-top: 1273.5px;
    margin-left: 28.5px;
    width: 563px;
    height: 44px;
    border: 1px solid #FF3535;
    border-radius: 5px;
    opacity: 1;
}

.e_icon{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.e_text{
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 30px;
    color: #FF3B3B;

}

.info_snack{
    position: absolute;
    margin-top: 1273.5px;
    margin-left: 624.5px;
    width: 563px;
    height: 44px;
    border: 1px solid #00B9E1;
    border-radius: 5px;
    opacity: 1;
}

.i_icon{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.i_text{
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 30px;
    color: #00b9e1;
}

.warning_snack{
    position: absolute;
    margin-top: 1342.5px;
    margin-left: 28.5px;
    width: 563px;
    height: 44px;
    border: 1px solid #FFA800;
    border-radius: 5px;
    opacity: 1;
}

.w_icon{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.w_text{
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 30px;
    color: #ffa800;   
}

.success_snack{
    position: absolute;
    margin-top: 1342.5px;
    margin-left: 624.5px;
    width: 563px;
    height: 44px;
    border: 1px solid #00AF27;
    border-radius: 5px;
    opacity: 1;
}

.s_icon{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.s_text{
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 30px;
    color: #00af27;
}

.call_text{
    position: absolute;
    margin-top: 1420.65px;
    margin-left: 29px;
    width: 106px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.primary{
    position: absolute;
    margin-top: 1460px;
    margin-left: 30px;
    width: 124px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    color: white;
}

.secondary{
    position: absolute;
    margin-top: 1460.5px;
    margin-left: 174.5px;
    width: 145px;
    height: 44px;
    border: 1px solid #C8242F;
    border-radius: 22px;
    opacity: 1;
    background-color: white;
    color: #C8242F;
}

.tab_text{
    position: absolute;
    margin-top: 1539.65px;
    margin-left: 29px;
    width: 39px;
    height: 24px;
    text-align: left;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.tab1_text{
    position: absolute;
    margin-top: 1585.13px;
    margin-left: 45px;
    width: 37px;
    height: 20px;
    text-align: left;
    font: normal normal medium 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

.tab2_text{
    position: absolute;
    margin-top:1585.13px;
    margin-left: 118px;
    width: 37px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.tab3_text{
    position: absolute;
    margin-top: 1585.13px;
    margin-left: 194px;
    width: 37px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

.horizontal_line{
    position: absolute;
    margin-top: 1620.13px;
    margin-left: 29px;
    color: black;
    border-bottom: 2px solid #e5e5e5;
}
.hr{

}
/* .horizontal_line ::after{
    content: '';
    display: block;
    border-bottom: 2px solid #ec1c24;
    margin-bottom: -2px;
    max-width: 200px;
} */
.paragraph{
    position: absolute;
    margin-top: 1645.13px;
    margin-left: 30px;
    width: 1119px;
    height: 68px;
    text-align: left;
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}